
name: Generate SDKs
on: [push]
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Protoc and Plugins
        run: |
          sudo apt-get update && sudo apt-get install -y protobuf-compiler
          # Instalamos o plugin de JS e o compilador de Go
          npm install -g protoc-gen-js
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Create Output Directories
        run: mkdir -p gen/node gen/go gen/python

      - name: Create Output Directories
        run: |
          mkdir -p gen/node gen/go gen/python
          # Adicione esta linha AQUI para isolar a pasta gen como CommonJS
          echo '{"type": "commonjs"}' > gen/node/package.json

      - name: Compile Protobuf
        run: |
          protoc --proto_path=proto \
          --js_out=import_style=commonjs,binary:gen/node \
          --go_out=gen/go --go_opt=paths=source_relative \
          --python_out=gen/python \
          proto/transaction.proto
      - name: Commit and Push
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore: update generated SDKs [skip ci]"
          file_pattern: 'gen/*'